<div class="login-main-container">
    <div class="container-signup">
        <div style="margin-bottom: 15px;" class="signup-top">
            <h1>Complete your signup</h1>
        </div>
        <form class="login-middle" action="/job-listing">
            <label for='name'>Name</label>
            <input class="login-form-control" type="text" id="name" placeholder="Your name">
            <p class="info">Use your real first and last name</p>
            <label for='description'>Professional Description</label>
            <input class="login-form-control" type="text" id="description" placeholder="e.g Software Engineer, Mememaster, Pokemaster">
            <p class="info">Short an specific text about what you do</p>
            <label for='tt-1'>Work Experience</label>
            <textarea class="login-form-control" class="registration-form-control" id="tt-1">Worked 6 years in a bitcoin farm until I decided to change my life....</textarea>
            <p class="info">Tells us about your work experience, what did you do before joining this top community?</p>
            <label for='tt-2'>Tell us a joke</label>
            <textarea class="login-form-control" class="registration-form-control" id="tt-2">Q: Why do chemists enjoy working with ammonia?      A: Because it's pretty basic stuff.</textarea>
            <p class="info">Tells us about your work experience, what did you do before joining this top community?</p>
            <label for='tt-2'>Work Type preference</label> </br>
            <div class="radio">
                <input type="radio" name="work" checked> Full-Time
                <input type="radio" name="work" > Part-Time
                <input type="radio" name="work" > Contract
                <input type="radio" name="work" > For Free
            </div>
            <div class="n">
                <input style="margin-right: 10px;" type="checkbox" name="day" value="Friday" checked> I wish to receive regular dad jokes in my email
            </div>
            <div class="n">
                <input type="checkbox" name="day" value="Saturday"> I wish that you sell my data and give me nothing in exchange
            </div>
            <button type="submit" class="button-b">Create Account</button>
        </form>
    </div>
</div>
