<div class="login-main-container">
    <div class="container-faq">
        <div class="login-top">
            <h1 id='forgot' style="text-align: start;" >FAQs</h1>            
        </div>
        <div class="login-middle">
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
            <h3>Do you sell my data?</h3>
            <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were 
                selling your data, we wouldn’t tell you.</p>
        </div>
    </div>
</div>