<footer>
    <div class="container">
      <div class="jobs cont">
        <h3>Jobs</h3>
        <ul>Software Engineer</ul>
        <ul>Frontend Engineer</ul>
        <ul>Codeable Graduate</ul>
        <ul>Backend Engineer</ul>
        <ul>Meme Master</ul>
        <ul style="color: #AD00FF;">University Dropouts</ul>
      </div>
      <div class="company cont">
        <h3>Company</h3>
        <ul>Blog</ul>
        <ul>Carreers</ul>
        <ul>Privacy</ul>
        <ul style="color: #AD00FF;">About</ul>
      </div>
      <div class="support cont">
        <h3>Support</h3>
        <ul>Documentation</ul>
        <ul>Security</ul>
        <ul>Movility Guide</ul>
        <ul style="color: #AD00FF;">FAQs</ul>
      </div>
      <div class="legal cont">
        <h3>Legal</h3>
        <ul>Terms of service</ul>
        <ul>Privacy Policy</ul>
        <ul>Cookie Information</ul>
        <ul style="color: #AD00FF;">GDPR Commitment</ul>
      </div>
    </div>
    <div class="year">
      <p>©2020 Get That Job</p>
    </div>
</footer>
