<div class="login-main-container">
    <div class="container">
        <div class="login-top">
            <h1 id='forgot'>Forgot Password</h1>
        </div>
        <div class="login-middle">
            <label for='email'>Email</label> </br>
            <input type="text" id="email" placeholder="youremail@email.com">
        </div>
        <div class="login-bottom">
            <button>Send recovery email</button>
        </div>
    </div>
</div>