<div class="login-main-container">
    <div class="container-son">
        <div class="login-top">
            <h1 id='forgot'>Recovery email send!</h1>            
        </div>
        <div class="login-middle">
            <label for='email'>You should receive instructutions to reset your password in your email</label> 
        </div>
    </div>
</div>