<div class="login-main-container">
    <div class="container">
        <form action="/forgotPasswordSuccess">
            <div class="login-top">
                <h1 id='forgot'>Forgot Password</h1>
            </div>
            <div class="login-middle">
                <label for='email'>Email</label> </br>
                <input class="login-form-control" type="email" id="email" required placeholder="youremail@email.com">
            </div>
            <div class="login-bottom">
                <button type="submit" class="login-form-submit">Send recovery email</button>
            </div>
        </form>
    </div>
</div>
