<section class="hero">
  <div class="container">
    <section class="hero-cover">
      <img class="hero-image" src="/assets/hero-image.png" alt="get-that-job">
    </section>
    <section class="hero-content">
      <h1 class="hero-title">The place where you get that job</h1>
      <p class="hero-paragraph">
        With our Machine learning algorithm you will get that job
        in no time, We promise you! Just give us the money and we
        will take care of it.
      </p>
      <a class="hero-button" href="/sign-up">Create your account now</a>
    </section>
  </div>
</section>

<section class="description">
  <div class="container">
    <section class="description-content">
      <h2 class="description-title">Find your next tech job</h2>
      <p class="description-paragraph">
        Our Machine learning algorithm is so good that it’s even illegal
        in some countries. Join us to use our barelly legal algorithm that
        is actually a group of interns that work on our basement.
      </p>
      <p class="description-paragraph">
        We have a job for you, no matter your background or previous
        experience. Is sending random memes through chat your only
        skill? That’s ok, we got you, our Rock Star Meme Curator role is
        here for you.
      </p>
    </section>
    <section class="description-list">
      JOBS LIST
    </section>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <div class="testimonials-arrow">
      <img src="/assets/test-left.png" alt="left-arrow">
    </div>
    <article class="testimonial">
      <img src="/assets/test-photo.png" alt="" class="testimonial-photo">
      <div class="testimonial-quote">
        “Amazing experience, I love it a lot. Thanks to the team
        I got that Job, great!”
      </div>
      <div class="testimonial-author">Lassy Chester</div>
      <div class="testimonial-role">Art Director</div>
    </article>
    <div class="testimonials-arrow">
      <img src="/assets/test-right.png" alt="right-arrow">
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <section class="contact-content">
      <div class="contact-abovetitle">CONTACTS</div>
      <h2 class="contact-title">Get in Touch</h2>
      <div class="contact-subtitle">If you are not sure yet, shoot us a message!</div>
      <div class="contact-info">
        <div class="contact-email">hello@getthatjob.com</div>
        <div class="contact-address">Jose Galvez 692, 7th Floor. The Board</div>
      </div>
    </section>
    <form class="contact-form">
      <input class="contact-form-control" type="text" placeholder="Your email">
      <input class="contact-form-control" type="text" placeholder="Name">
      <textarea class="contact-form-control" rows="10" placeholder="Messages"></textarea>
      <button class="contact-form-submit">
        <i class="fas fa-envelope contact-form-icon"></i>
        Submit Message
      </button>
    </form>
  </div>
</section>
