<div class="job-listing">
  <div class="container">
    <div class="jl-title">
      <h1>Jobs For you</h1>
    </div>
    <div class="jl-form">
      <div class="search-bar">
        <button type=" submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Find that job!" name="search">
      </div>
      <div class="dropdown-list">
        <div class="dropdown">
          <a class="navbar-item dropdown-button" href="#">Country</a>
          <div class="dropdown-menu">
            <div class="dropdown-container">
              <div class="dropdown-item">Peru</div>
              <div class="dropdown-item">Colombia</div>
              <div class="dropdown-item">Arequipa</div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a class="navbar-item dropdown-button" href="#">Type</a>
          <div class="dropdown-menu">
            <div class="dropdown-container">
              <div class="dropdown-item">Full-Time</div>
              <div class="dropdown-item">Part-Time</div>
              <div class="dropdown-item">For Free</div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a class="navbar-item dropdown-button" href="#">Experience</a>
          <div class="dropdown-menu">
            <div class="dropdown-container experience">
              <div class="dropdown-item">No Experience</div>
              <div class="dropdown-item">Junior</div>
              <div class="dropdown-item">Semi Senior</div>
              <div class="dropdown-item">Senior</div>
              <div class="dropdown-item">Codeable Graduate</div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a class="navbar-item dropdown-button" href="#">Sorter</a>
          <div class="dropdown-menu">
            <div class="dropdown-container">
              <div class="dropdown-item">Newest</div>
              <div class="dropdown-item">Highest Salary</div>
              <div class="dropdown-item">Lowest Salary</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <a class="navbar-item dropdown-button transparent" href="#">Experience</a>
        <div class="dropdown-menu">
          <div class="dropdown-container">
            <div class="dropdown-item">Newest</div>
            <div class="dropdown-item">Highest Salary</div>
            <div class="dropdown-item">Lowest Salary</div>
          </div>
        </div>
      </div>
    </div>
    <div class="jobs">
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <a href="/job-details" class="job-card-link">
        <div class="job-card">
          <div class="job-detail">
            <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
            <div class="job-description">
              <div class="job-name">
                <p>Software Engineer</p>
                <p>NEW</p>
              </div>
              <div class="job-company">
                <p>Able - Lima</p>
                <img src="assets/peru.png" alt="Peru flag">
              </div>
            </div>
          </div>
          <div class="job-items">
            <img src="assets/dollar.png" alt="Dollar sign">
            <p>ReactJS</p>
            <p>ReactJS</p>
            <p>Today</p>
          </div>
        </div>
      </a>
      <div class="load-more">
        <a href="">Load More</a>
      </div>
    </div>
  </div>
</div>
