<div class="job-details">
  <div class="container">
    <header>
      <div class="see-more">
        <i class="fa fa-arrow-left"></i>
        <a href="#">See more jobs</a>
      </div>
      <div class="title">
        <p>Posted Feb 24</p>
        <h1>Software Engineer</h1>
        <ul>
          <li>ReactJs</li>
          <li>JS</li>
          <li>Ruby</li>
          <li>Ruby On Rails</li>
          <li>Buzz word</li>
        </ul>
      </div>
    </header>

    <div class="content">
      <p>Able is seeking a Full-Stack Software Engineer. You will work on a variety of challenging, creative and
        innovative products that are part of our rapidly growing portfolio. Your experience will serve as a foundation
        for your growth at our company and we expect that you will keep developing your existing skills by growing
        your knowledge in areas you had never envisioned before.</p>
      <h2></h2>
      <ul>
        <li>Build server-side applications as well as RESTful APIs with Ruby and Rails</li>
        <li>Build client-side applications with React, Redux, HTML5 and CSS3/SASS</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </div>
  </div>
</div>