<div class="job-listing">
  <div class="container">
    <div class="jl-title">
      <h1>Jobs For you</h1>
    </div>
    <div class="jl-form">
      <div class="search-bar">
        <form action=""">
          <button type=" submit"><i class="fa fa-search"></i></button>
          <input type="text" placeholder="Find that job!" name="search">
        </form>
      </div>
      <div class="drop-downs">
        <form action="">
          <select id="country" name="country">
            <option value="" selected disabled hidden>Country</option>
            <option value="country1">Country 1</option>
            <option value="country2">Country 2</option>
            <option value="country3">Country 3</option>
            <option value="country4">Country 4</option>
          </select>
          <select id="type" name="type">
            <option value="" selected disabled hidden>Type</option>
            <option value="type1">Type 1</option>
            <option value="type2">Type 2</option>
            <option value="type3">Type 3</option>
            <option value="type4">Type 4</option>
          </select>
          <select id="salary" name="salary">
            <option value="" selected disabled hidden>Salary Range</option>
            <option value="salary1">Salary 1</option>
            <option value="salary2">Country 2</option>
            <option value="salary3">Country 3</option>
            <option value="salary4">Country 4</option>
          </select>
          <select id="more" name="more">
            <option value="" selected disabled hidden>More</option>
            <option value="more1">More 1</option>
            <option value="more2">More 2</option>
            <option value="more3">More 3</option>
            <option value="more4">More 4</option>
          </select>
          <select id="order-by" name="order-by">
            <option value="order1">Recommended</option>
            <option value="order2">Latest</option>
            <option value="order3">Oldest</option>
          </select>
        </form>
      </div>
    </div>
    <div class="jobs">
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="job-card">
        <div class="job-detail">
          <div class="logo"><img src="assets/able.png" alt="Able logo"></div>
          <div class="job-name">
            <p>Software Enginner <span>NEW</span></p>
          </div>
          <div class="job-company">
            <p>Able - Lima</p>
            <img src="assets/peru.png" alt="Peru flag">
          </div>
        </div>
        <div class="job-items">
          <img src="assets/dollar.png" alt="Dollar sign">
          <p>ReactJS</p>
          <p>ReactJS</p>
          <p>Today</p>
        </div>
      </div>
      <div class="load-more">
        <a href="">Load More</a>
      </div>
    </div>
  </div>
</div>