<div class="navbar">
  <div class="container">
    <div class="nav-title">
      <img src="assets/profile.png">
      <h1>getthatjob</h1>
    </div>
    <div class="nav-links">
      <a href="">Help</a>
      <a href="">Companies</a>
      <a href="">Jobs</a>
      <a class="nav-btn" href="">SIGN IN</a>
      <a class="nav-btn" href="">CREATE AN ACCOUNT</a>
    </div>
  </div>
</div>