<div class="navbar">
  <div class="container">
    <div class="nav-title">
      <img src="assets/profile.png">
      <a href="/">
        <h1>getthatjob</h1>
      </a>
    </div>
    <div class="nav-links">
      <a href="/faq">Help</a>
      <a href="/companies">Companies</a>
      <a href="/job-listing">Jobs</a>
      <a class="nav-btn" href="/login">SIGN IN</a>
      <a class="nav-btn" href="/signup">CREATE AN ACCOUNT</a>
    </div>
  </div>
</div>
