footer{
    padding-top: 15px;
    background-color: #ffffff;
    font-family: "Nunito";
    text-align: center;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1%;
}

footer .container h3{
    font-weight: 100;
    cursor: pointer;
    margin: 10% 0 10% 0;
}

footer .container ul{
    color: #7A7A7A;
    margin-bottom: 7%;
}

.cont {
  width: 50%;
  margin: 0 0 16px 0;
}

.year {
  border-top: 1px solid rgba(193, 187, 187, 0.77);
}

.year p{
    margin: 6px auto;
    color: #73738D;;
    width: 149px;
}

@media only screen and (min-width: 992px) {
  .cont {
    width: 20%;
    text-align: left;
  }
}
