/* HERO SECTION */
.hero {
  padding: 54px 0;
  background-color: #f7fafc;
  color: #000000;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.hero .container {
  display: flex;
  flex-direction: column;
}
.hero-cover {
  width: 100%;
}
.hero-content {
  width: 100%;
  text-align: center;
}
.hero-image {
  max-width: 200px;
  margin: 0 auto;
}
.hero-title {
  margin-bottom: 20px;
  font-family: Nunito;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
}
.hero-paragraph {
  display: none;
}
a.hero-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #3C2DFF;
  border: 2px solid #3C2DFF;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .hero {
    padding: 0;
  }
  .hero .container {
    flex-direction: row;
  }
  .hero-cover {
    width: 50%;
    order: 1;
  }
  .hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .hero-image {
    max-width: 100%;
  }
  .hero-title {
    font-size: 46px;
    line-height: 63px;
    text-align: left;
  }
  .hero-paragraph {
    display: block;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
}

/* DESCRIPTION SECTION */
.description {
  padding: 54px 0;
  background-color: #3C2DFF;
  color: #000000;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.description .container {
  display: flex;
  flex-direction: column;
}
.description-title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.description-paragraph {
  display: none;
}
.description-paragraph:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .description .container {
    flex-direction: row;
  }
  .description-content {
    display: block;
    width: 50%;
  }
  .description-title {
    font-size: 36px;
    line-height: 49px;
    text-align: left;
  }
  .description-paragraph {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
  .description-list {
    width: 50%;
  }
}

/* TESTIMONIALS SECTION */
.testimonials {
  padding: 54px 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "Overpass";
}
.testimonials .container {
  display: flex;
}
.testimonials-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.testimonial {
  width: 80%;
}
.testimonial-photo {
  width: 90px;
  height: 90px;
  margin: 0 auto 8px;
}
.testimonial-quote {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.testimonial-author {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
.testimonial-role {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .testimonials {
    padding: 75px 0;
  }
  .testimonial-quote {
    font-size: 36px;
    line-height: 48px;
  }
  .testimonial-author {
    font-size: 20px;
    line-height: 32px;
  }
  .testimonial-role {
    font-size: 16px;
    line-height: 24px;
  }
}

/* CONTACT SECTION */
.contact {
  padding: 75px 0;
  background-color: #f7fafc;
  color: #000000;
}
.contact .container {
  display: flex;
  flex-direction: column;
}
.contact-content {
  position: relative;
}
.contact-abovetitle {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #999999;
  text-align: center;
}
.contact-title {
  margin-bottom: 11px;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  text-align: center;
}
.contact-subtitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
}
.contact-info {
  position: absolute;
  bottom: 0;
  display: none;
}
.contact-email,
.contact-address {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.contact-form-control {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 13px 24px;
  background: #FFFFFF;
  border: 1px solid #C9CCD4;
  border-radius: 6px;
  resize: none;
  color: #7A7A7A;
  font-family: "Overpass";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
.contact-form-submit {
  display: block;
  width: 40%;
  min-width: 200px;
  padding: 15px 23px;
  background: #000000;
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
}
.contact-form-icon {
  margin-right: 15px;
}
@media only screen and (min-width: 992px) {
  .contact {
    padding: 100px 0 125px;
  }
  .contact .container {
    flex-direction: row;
  }
  .contact-content {
    width: 50%;
  }
  .contact-form {
    width: 50%;
  }
  .contact-abovetitle,
  .contact-title,
  .contact-subtitle {
    text-align: left;
  }
  .contact-info {
    display: block;
  }
  .contact-form-submit {
    position: static;
    display: inline-block;
    width: auto;
    margin-left: 0;
  }
}
