.job-details {
  font-family: "Nunito";
}

.job-details .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-details-content-wrapper {
  width: 100%;
}

.job-company-card-wrapper {
  width: 100%;
  order: -1;
}

.company-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.company-card-figure {
  width: 35%;
  text-align: center;
}

.company-card-logo {
  display: inline-block;
  width: 50%;
}

.company-card-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
}

.company-card-data {
  width: 65%;
}

.job-details-label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.job-details-label:nth-child(3) {
  margin-bottom: 41px;
}

.job-details-button {
  background: #3C2DFF;
  padding: 8px 51px;
}

@media only screen and (min-width: 992px) {
  .job-details-content-wrapper {
    width: 65%;
  }

  .job-company-card-wrapper {
    width: 35%;
    order: 0;
  }
  .company-card {
    width: 250px;
    margin: 30px auto 0;
    padding: 40px 32px 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .company-card-figure {
    width: 100%;
    margin-bottom: 15px;
  }
  .company-card-data {
    width: 100%;
  }
}

.see-more {
  margin: 24px 0 24px 0;
}

.see-more a {
  color: #3C2DFF;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.see-more i {
  color: #3C2DFF;
}

.title h1 {
  margin: 5px 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}

.title p {
  margin: 3px 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.title ul {
  display: flex;
  justify-content: left;
  margin: 3px 0;
}

.title li {
  margin: 5px;
  padding: 0 8px;;
  height: 22px;
  border-radius: 4px;
  background: #3C2DFF;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.content {
  margin: 12px 0;
  width: 100%;
  text-align: justify;
}

.content h2 {
  margin: 16px 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.content p {
  margin: 16px 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.content li {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.content ul.listing{
  padding-left: 3%;
}

a.get-job {
  display: inline-block;
  border: 0;
  background: #3C2DFF;
  margin-bottom: 15px;
  padding: 8px 51px;
  color: #FFFFFF;
}

.get-job a {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
